<div class="inline" id="dish-id-<%=dish.id%>">

  <% if params[:user_id] %>
    <%= render partial: "tasted_display", locals: {dish: dish} %>
  <% end %>

  <p><%= render partial: "dish", locals: {dish: dish} %></p>

  <% if params[:user_id] && !tried_dish(dish) %>
    <%= button_to "tasted", user_dish_tasted_path(dish_id: dish), :method => :post, params: {dish_id: dish.id} %>
  <% end %>

  <% if params[:user_id] %>
    <%= render partial: "add_remove_link", locals: {dish: dish} %>
  <% else %>
    <%= render partial: "add_link", locals: {dish: dish} %>
  <% end %>
  <br><br>
</div>
