<h1>Top 10 Most Popular Dishes</h1>

<% @dishes.each.with_index(1) do |dish, i| %>
  <p><strong><%= i %>. <%= dish.name %></strong> at <%= dish.restaurant.name %><br>
  Added to <%= dish.popularity %> Dish-Lists
  <%= render partial: "add_remove_link", locals: {dish: dish} %>
<% end %>
