<h1>10 Most Popular Dishes</h1>

<h3>The dishes added to the most lists</h3>

<% if @dishes.empty? || nil %>
  <%= render partial: "no_dishes" %>

<% else %>
  <br>
  <div class="inline">
    <% @dishes.each.with_index(1) do |dish, i| %>
      <p><strong><%= i %>. <%= dish.name %></strong> at <%= dish.restaurant.name %>
      <%= render partial: "add_remove_link", locals: {dish: dish} %><br>
      Added to <%= pluralize(dish.popularity, "Dish-List") %></li><br><br>
    <% end %>
  </div>
<% end %>
