<a href="#" class="js-next" data-id="<%=@dish.id%>">next dish</a>

<h1 class="dishName"><%= @dish.name %></h1>
<h3 class="restaurantName">at <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %></h3>
<br>

<p class="restaurantCuisine"><strong>Type of cuisine:</strong> <%= @dish.restaurant.cuisine %></p>

<p class="restaurantLocation"><strong>Location:</strong> <%= @dish.restaurant.location %></p><br><br>

<%= render partial: "popularity", locals: {dish: @dish} %></h3><br><br>

<div class="inline">
  <%= render partial: "add_remove_link", locals: {dish: @dish} %>
</div>
