<h1><%= @dish.name %></h1>
<h3>at <%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %></h3>
<br>

<strong>Type of cuisine:</strong> <%= @dish.restaurant.cuisine %><br><br>

<strong>Location:</strong> <%= @dish.restaurant.location %><br><br>

<%= render partial: "popularity", locals: {dish: @dish} %></h3><br><br>

<div class="inline">
  <%= render partial: "add_remove_link", locals: {dish: @dish} %>
</div>
