<h1><%= @dish.name %> at <br>
<%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %></h1>

<p>This dish has been added to <%= pluralize(@dish.popularity, "Dish-List") %></li><br></p>

<h4>Type of cuisine: <%= @dish.restaurant.cuisine %></h4>
<h4>Location: <%= @dish.restaurant.location %></h4>

<%= render partial: "add_remove_link", locals: {dish: @dish} %>
