<a href="#" class="js-next" data-id="<%=@dish.id%>">next dish</a>

<div class="dish-show">

  <h1><%= @dish.name %></h1>
  <h3>at <a href="/restaurants/<%= @dish.restaurant_id %>"><%= @dish.restaurant.name %></a></h3>
  <br>

  <div class="inline">
    <p><strong>Type of cuisine: </strong><%= @dish.restaurant.cuisine %></p>
  </div><br>

  <div class="inline">
    <p><strong>Location:</strong>  <%= @dish.restaurant.location %></p><br><br>
  </div><br>

  <div id="popularity">
    <%= render partial: "popularity", locals: {dish: @dish} %></h3>
  </div><br>

</div>

<!-- <div class="inline">
  <%#= render partial: "add_remove_link", locals: {dish: @dish} %>
</div> -->
