<h1><%= @restaurant.name %></h1>
<h3>at <%= @restaurant.location %></h3>
<br>

<strong>Type of cuisine:</strong> <%= @restaurant.cuisine %><br><br>

<h3>Dish-List dishes:</h3>

<ul id="restaurant_show">
  <% @restaurant.dishes.each do |dish| %>
      <li>
        <strong><%= link_to dish.name, dish_path(dish) %></strong> |
        <%= render partial: "dishes/popularity", locals: {dish: dish} %>
      </li><br><br>
  <% end %>
</ul>
<%#= button_to  'add new dish', new_user_dish_path(user_id: current_user.id), params: {'restaurant[id]' => params[:id]} %>

<div id="new_dish_form">
</div>
<br>

<button id="button" data-restaurant-id="<%= @restaurant.id %>" data-user="<%= current_user.id %>">Add new dish</button>
