<h1><%= @restaurant.name %></h1>
<h3>at <%= @restaurant.location %></h3>
<br>

<strong>Type of cuisine:</strong> <%= @restaurant.cuisine %><br><br>

<h3>Dish-List dishes:</h3>

<% @restaurant.dishes.each do |dish| %>
    <ul>
      <li>
        <strong><%= link_to dish.name, dish_path(dish) %></strong> |
        <%= render partial: "dishes/popularity", locals: {dish: dish} %>
      </li><br>
    </ul>
<% end %><br>
