<% if session[:user_id] %>

  <div class="item">
    <!-- <img src="/../assets/your-list.jpg" alt="Food on table"> -->
    <%= image_tag("your-list.jpg", alt: "Food on table") %>
    <div class="item_overlay">
      <a href="/users/<%= current_user.id%>/dishes"> your dish-list </a>
    </div>
  </div>

  <div class="item">
    <!-- <img src="/../assets/add-new.jpg" alt="Doughnut"> -->
    <%= image_tag("add-new.jpg", alt: "Doughnut") %>
    <div class="item_overlay">
      <a href="/users/<%= current_user.id%>/dishes/new">create new dish</a>
    </div>
  </div>

  <div class="item">
    <!-- <img src="/../assets/all-lists.jpg" alt="Food and wine"> -->
    <%= image_tag("all-lists.jpg", alt: "Food and wine") %>
    <div class="item_overlay">
      <a href="/lists">all dish-lists</a>
    </div>
  </div>

  <div class="item">
    <!-- <img src="/../assets/most-popular.jpg" alt="Eat me neon sign"> -->
    <%= image_tag("most-popular.jpg", alt: "Eat me neon sign") %>
    <div class="item_overlay">
      <a href="/most_popular">most popular<br>dishes</a>
    </div>
</div>

  <div class="item">
    <!-- <img src="/../assets/all-dishes.jpg" alt="Hamburgers"> -->
    <%= image_tag("all-dishes.jpg", alt: "Hamburgers") %>
    <div class="item_overlay">
      <a href="/dishes">all dishes</a>
    </div>
  </div>

  <div class="item">
    <!-- <img src="/../assets/popular-restaurants.jpg" alt="Burgers on counter"> -->
    <%= image_tag("popular-restaurants.jpg", alt: "Burgers on counter") %>
    <div class="item_overlay">
      <a href="/most_popular/restaurants">most popular<br>restaurants</a>
    </div>
  </div>

  <div class="item">
    <!-- <img src="/../assets/all-restaurants.jpg" alt="Restaurant interior"> -->
    <%= image_tag("all-restaurants.jpg", alt: "Restaurant interior") %>
    <div class="item_overlay">
      <a href="/restaurants">all restaurants</a>
    </div>
  </div>

  <% if current_page?(welcome_path) %>
    <div class="item">
      <!-- <img src="/../assets/profile.jpg" alt="Paper and pen"> -->
      <%= image_tag("profile.jpg", alt: "Paper and pen") %>
      <div class="item_overlay">
        <a href="/welcome">homepage</a>
      </div>
    </div>
  <% end %>
<% end %>
