<!DOCTYPE html>
<html>
  <head>
    <title>DishList</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="top">
        <%= render partial: "layouts/header" %>
        <%= render partial: "layouts/navigation_links" %>
        <%= render partial: "layouts/errors" %>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="sidebar">
        <% if current_user %>
          <%= render partial: "layouts/navigation_images" %>
        <% else %>
          <%= render partial: "layouts/placeholder_images" %>
        <% end %>
      </div>

      <footer><%= render partial: "layouts/profile_links" %></footer>
    </div>
  </body>
</html>
